<html >
    <body bgcolor="#EAF6F6">
        <h2 align="center">File Created via Chef !!</h2>
        <hr>
        <br>
        <br>
        <h2>Operating System of Host:  <%= node['platform'] %> </h2>
        <h2>IP Address of Server: <%= node['ipaddress'] %> </h2>
        <h2>Hostname : <%= node['hostname'] %> </h2>
    </body>
</html>